body{
    background-color: bisque;
}

h1{
    text-align: center;
}

input{
    height: 200px; 
    width: 400px;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    white-space: pre-wrap;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.output{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 10%;
}

table{
    width: 350px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;    
}

.rowType1{
    background-color: darksalmon;
}

.rowType2{
    background-color:peachpuff
}

.chartOutput{
    width: 100%; 
    max-width: 700px;
}